.single-post {
	justify-content: center;
	
	&__header {
		@include gutter-margin-bottom();
		text-align: center;
		
		&__title {
			
			h1 {
				@include media-breakpoint-up(lg) {
					margin-bottom: map-get($spacing, 'lg');
				}
			}
		}
		
		&__meta {
		}
	}
	
	&__image {
		@include gutter-margin-bottom();
	}
}
