.accordion {
	margin: map-get($spacing, 'md') 0;

	&-item {
		margin-bottom: 1px;

		&__heading {

			&__button {
				font-family: $heading-font-family;
				font-size: map-get($font-sizes, 'md');
				font-weight: map-get($font-weights, 'bold');
				text-align: left;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-radius: 0;
				border: 0;
				background: map-get($colours, 'light');
				color: color-contrast(map-get($colours, 'light'));
				padding: map-get($spacing, 'md');
				cursor: pointer;
				transition: all 0.3s ease-in-out;

				i {
					transition: transform 0.3s ease;
				}

				@each $colour, $value in $colours {
					&--#{$colour} {

						&[aria-expanded='true'],
						&:hover,
						&:focus,
						&:active {
							background: $value;
							color: color-contrast($value);
						}
					}
				}

				&[aria-expanded='true'] {

					i {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	&__panel {

		&__inner {
			padding: map-get($spacing, 'lg') 0;
		}
	}
}
