.btn {
	appearance: none;
	padding: map-get($spacing, md) map-get($spacing, lg);
	line-height: 1;
	border: 0;
	font-family: $font-family-sans-serif;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	text-decoration: underline;
	text-decoration-color: transparent;
	
	@include hover-focus-active {
		text-decoration-color: currentColor;
	}
	
	&--icon {
		text-decoration: none;
		
		span {
			text-decoration: transparent underline;
		}
		
		@include hover-focus-active {
			
			span {
				text-decoration-color: currentColor;
			}
		}
	}
}

@each $colour, $value in $colours {
	.btn--#{$colour} {
		background: $value;
		color: color-contrast($value);
		
		@include hover-focus-active {
			background: darken($value, 10%);
		}
	}
	.btn--#{$colour}--hollow {
		color: $value;
		border: 1px solid $value;
		background: map-get($colours, 'white');
		
		@include hover-focus-active {
			background: $value;
			color: color-contrast($value);
		}
	}
}
