$grays: (
	'100': #F8F9FA,
	'200': #E9ECEF,
	'300': #DEE2E6,
	'400': #CED4DA,
	'500': #ADB5BD,
	'600': #6C757D,
	'700': #495057,
	'800': #343A40,
	'900': #212529
) !default;

// scss-docs-start theme-colors-map
$colours: (
	'primary': #685C82,
	'secondary': #918FB3,
	'accent': #A61CBB,
	'success': #CAE19B,
	'info': #BDC8D8,
	'warning': #F8EE58,
	'alert': #A90076,
	'light': #E9F1F2,
	'dark': #1D1C20,
	'white': #FFF,
	'black': #000
) !default;
// scss-docs-end theme-colors-map

// The contrast ratio to reach against white,
// to determine if color changes from "light" to "dark".
// Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: #000 !default;
$color-contrast-light: #FFF !default;

// scss-docs-start gutter-variables-maps
$gutters: (
	xs: 0.25rem,
	sm: 0.5rem,
	md: 0.5rem,
	lg: 1rem,
	xl: 1.25rem,
	xxl: 1.25rem
);
// scss-docs-end gutter-variables-maps

// scss-docs-start spacing-variables-maps
$spacing: (
	xs: 0.25rem,
	sm: 0.5rem,
	md: 0.75rem,
	lg: 1rem,
	xl: 1rem,
	xxl: 1rem
);
// scss-docs-end spacing-variables-maps

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
// scss-docs-start grid-breakpoints
$grid-breakpoints: (
	xs: 300px,
	sm: 620px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
// scss-docs-start container-max-widths
$container-max-widths: (
	xs: 576px,
	sm: 576px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1280px
) !default;
// scss-docs-end container-max-widths

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;
$container-padding-x: $grid-gutter-width !default;

// stylelint-disable function-disallowed-list
// scss-docs-start aspect-ratios
$aspect-ratios: (
	'1x1': 100%,
	'4x3': calc(3 / 4 * 100%),
	'16x9': calc(9 / 16 * 100%),
	'21x9': calc(9 / 21 * 100%)
) !default;
// scss-docs-end aspect-ratios
// stylelint-enable function-disallowed-list

// scss-docs-start font-variables
$font-family-sans-serif: 'Segoe UI', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', arial, sans-serif !default;
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace !default;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
	xs: 0.833rem,
	sm: 1rem,
	md: 1.2rem,
	lg: 1.44rem,
	xl: 1.728rem
) !default;
// scss-docs-end font-sizes

// scss-docs-start font-weights
$font-weights: (
	light: 300,
	normal: 400,
	semibold: 600,
	bold: 700
) !default;
// scss-docs-end font-weights

$enable-container-classes: true;
$enable-grid-classes: true;
