@import 'variables';

// Hide inner component field label when the outer label is present
.acf-field-component-field > .acf-label + .acf-input .acf-label {
	display: none;
}

.acf-field-component-field > .acf-label + .acf-input .acf-field-radio,
.acf-field-component-field > .acf-label + .acf-input .acf-field-select {
	padding-top: 0;
}

/* General ACF styling customisations */
.acf-label p.description {
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.2;
	margin-top: 0 !important;
}

/* Specific field customisations */
.acf-field {

	&[data-name='show_breadcrumbs'] {
		display: flex;
		justify-content: space-between;
	}

	&[data-name='show_breadcrumbs'] .acf-label {
		margin: 0;
	}

	&[data-name='show_breadcrumbs'] .acf-input {
		min-width: 90px;
		padding-left: 0.5rem;
	}

	&[data-name='background_colour'] {
		display: flex;
	}

	&[data-name='background_colour'] .acf-label {
		height: 2rem;
		display: flex;
		align-items: center;
		padding-right: 0.5rem;
	}

	&[data-name='background_colour'] .acf-input {
		flex-grow: 1;
	}
}


.select2-selection__rendered,
.select2-results__options .select2-results__option {
	position: relative;

	span {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@each $colour, $value in $colours {
			&.#{$colour} {

				&:before {
					display: block;
					content: '';
					width: 1rem;
					height: 1rem;
					background: $value;
					margin-right: 0.5rem;
					border: 1px solid #CCC;
				}
			}
		}
	}
}

.mce-stack-layout .mce-menu-item-preview {
	cursor: pointer;

	.mce-text {
		display: inline-flex;
		align-items: center;
		line-height: 2;
		cursor: pointer;
	}
}
