conf/*
logs/*

# ignore uploads
app/public/wp-content/uploads/*

# ignore plugins I can't distribute
app/public/wp-content/plugins/advanced-custom-fields-component_field/*

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

app/public/wp-content/db-error.php

app/public/local-xdebuginfo.php

app/public/fw-status-check.php

app/public/fw-flush-cache.php
