/* General ACF styling customisations */
.acf-label p.description {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.2;
  margin-top: 0 !important;
}

/* Specific field customisations */
.acf-field[data-name=show_breadcrumbs] {
  display: flex;
  justify-content: space-between;
}
.acf-field[data-name=show_breadcrumbs] .acf-label {
  margin: 0;
}
.acf-field[data-name=show_breadcrumbs] .acf-input {
  min-width: 90px;
  padding-left: 0.5rem;
}
.acf-field[data-name=background_colour] {
  display: flex;
}
.acf-field[data-name=background_colour] .acf-label {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}
.acf-field[data-name=background_colour] .acf-input {
  flex-grow: 1;
}

/**
 * Show colour previews in ACF selectboxes
 * Note: ACF field must have 'stylized UI' option turned on
*/
.select2-selection__rendered,
.select2-results__options .select2-results__option {
  position: relative;
}
.select2-selection__rendered span,
.select2-results__options .select2-results__option span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered span.primary:before,
.select2-results__options .select2-results__option span.primary:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #795EBD;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.secondary:before,
.select2-results__options .select2-results__option span.secondary:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #00C9B9;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.accent:before,
.select2-results__options .select2-results__option span.accent:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #C5488D;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.success:before,
.select2-results__options .select2-results__option span.success:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #00C9B9;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.info:before,
.select2-results__options .select2-results__option span.info:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #00A7C9;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.warning:before,
.select2-results__options .select2-results__option span.warning:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #FF8D00;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.alert:before,
.select2-results__options .select2-results__option span.alert:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #A63469;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.light:before,
.select2-results__options .select2-results__option span.light:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #EDECF3;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.dark:before,
.select2-results__options .select2-results__option span.dark:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #1B1063;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.white:before,
.select2-results__options .select2-results__option span.white:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #FFF;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}
.select2-selection__rendered span.black:before,
.select2-results__options .select2-results__option span.black:before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #000;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.mce-stack-layout .mce-menu-item-preview {
  cursor: pointer;
}
.mce-stack-layout .mce-menu-item-preview .mce-text {
  display: inline-flex;
  align-items: center;
  line-height: 2;
  cursor: pointer;
}