.module__call-to-action {
	text-align: center;

	.row {
		justify-content: center;
	}

	&--fullwidth {
		padding: map-get($spacing, 'lg') 0;

		@include media-breakpoint-up(xl) {
			padding: map-get($spacing, 'xl') 0;
		}
	}

	&--contained,
	&--narrow {

		.module__call-to-action__inner {
			padding: map-get($spacing, 'lg');

			@include media-breakpoint-up(md) {
				padding: map-get($spacing, 'xl');
			}
		}
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		&__text {
			width: 100%;
			flex-basis: 100%;
		}

		&__phone,
		&__button {
			width: 100%;
			flex-basis: 100%;

			@include media-breakpoint-up(sm) {
				width: auto;
				flex-basis: auto;
			}
		}

		&__phone {
			font-size: map-get($font-sizes, 'md');
			color: map-get($colours, 'white');
			font-weight: map-get($font-weights, 'bold');
			margin: map-get($spacing, 'lg');
		}

		&__button {
		}
	}
}
