.module__copy-image {

	.row {
		justify-content: center;
	}

	&--copy_image {

		@include media-breakpoint-up(md) {

			.module__copy-image__image {
				order: 2;
			}
		}
	}

	&__image {
		margin-bottom: map-get($spacing, 'lg');

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}

		&__media {

			img {
				width: 100%;
				height: auto;

				@include media-breakpoint-up(md) {
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: center center;
				}
			}
		}

		&__caption {
			padding-top: map-get($spacing, 'xs');
			text-align: center;
			font-size: map-get($font-sizes, 'xs');
			color: rgba(map-get($colours, 'dark'), 0.8);
		}
	}

	&__copy {
		display: flex;
		align-items: center;
	}

}

