.module__hero {
	padding: 0;
	position: relative;
	
	&__image {
		
		img {
			height: auto;
		}
	}
	
	&__copy {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		
		.row {
			justify-content: flex-end;
		}
		
		&__inner {
			padding: map-get($spacing, 'lg');
			background: map-get($colours, 'white');
			
			@include media-breakpoint-up(lg) {
				padding: map-get($spacing, 'xl');
			}
		}
	}
}
