{
	"extends": [
		"plugin:@wordpress/eslint-plugin/esnext"
	],
	"env": {
		"browser": true,
		"jquery": true
	},
	"rules": {
		"semi": ["warn", "always"],
		"space-in-parens": ["warn", "never"],
		"array-bracket-spacing": ["warn", "never"],
		"computed-property-spacing": ["warn", "never"],
		"space-before-function-parentheses": ["warn", "never"],
		"quotes": ["warn", "single"],
		"brace-style": [
			2,
			"stroustrup",
			{
				"allowSingleLine": false
			}
		],
		"linebreak-style": [
			"warn",
			"windows"
		]
	}
}
