.nf-form-cont {
	
	.list-select-wrap .nf-field-element > div,
	input:not([type='button']),
	textarea {
		background: map-get($colours, 'white') !important;
	}
	
	input:not([type='button']),
	textarea {
		color: map-get($colours, 'dark') !important;
		font-family: $font-family-serif;
		
		&:focus {
			box-shadow: 0 0 0.5rem 0 map-get($greys, '500');
		}
	}
	
	.nf-error-msg,
	.ninja-forms-req-symbol {
		color: map-get($colours, 'alert');
	}
	
	.nf-form-title {
		
		h3 {
			font-size: map-get($font-sizes, 'lg');
			color: map-get($colours, 'dark');
			margin-top: 0;
			margin-bottom: map-get($spacing, 'md');
			
			@include media-breakpoint-up(lg) {
				font-size: map-get($font-sizes, 'xl');
			}
		}
	}
	
	.nf-form-wrap {
		
		.nf-form-layout {
			
			.nf-before-form-content {
				margin-bottom: map-get($spacing, 'md');
				
				.nf-form-fields-required {
					font-size: map-get($font-sizes, 'sm');
					font-style: italic;
					display: block;
					text-align: right;
				}
			}
			
			.nf-form-content {
				padding: 0;
			}
			
			.label-above {
				
				.nf-field-label {
					margin-bottom: 0;
					
					label {
						font-size: map-get($font-sizes, 'sm');
						font-weight: map-get($font-weights, 'normal');
					}
				}
			}
			
			.nf-field-container {
				margin-bottom: map-get($spacing, 'sm');
				
				
				.field-wrap {
					
					&.submit-wrap {
						text-align: right;
					}
					
					.nf-field-element {
						
						input[type='button'] {
							@extend .btn, .btn--primary;
							transition: all 0.3s ease;
							
							@include hover-focus-active {
								background: darken(map-get($colours, 'primary'), 10%);
							}
						}
					}
				}
			}
		}
		
		.nf-after-form {
		}
	}
	
	.nf-error {
		
		&.field-wrap {
			
			.nf-field-element {
				
				&:after {
					background: map-get($colours, 'alert');
				}
			}
		}
		
		.nf-error-msg {
			color: map-get($colours, 'alert');
		}
		
		.ninja-forms-field {
			border-color: map-get($colours, 'alert') !important;
		}
	}
	
	.nf-pass {
		
		&.field-wrap {
			
			.nf-field-element {
				
				&:after {
					color: map-get($colours, 'success');
				}
			}
		}
		
		.ninja-forms-field {
			border-color: map-get($colours, 'success') !important;
		}
	}
	
	.nf-response-msg {
		@extend .alert, .alert--success;
	}
}
